{% extends "base.html" %}

{% block content %}
<style type="text/css">
<!--
-->

table
{
  border-collapse:collapse;
  width:70%;
  align:"center";
}

td {
    text-align:center;
    height:30%;
}


table, td, th
  {
  border:1px solid black;
  }
    
</style>

<script type='text/javascript'>
<!--

-->
</script>
</head>
<body>

<table>
<th>序号</th>
<th>名称</th>
<th>类型</th>
<th>添加时间</th>


{% for i in data %}

<tr>
<td>{{i.get("index") }}</td>
<td>{{i.get("name") }}</td>
<td>{{i.get("type") }}</td>
<td>{{i.get("created") }}</td>
</tr>

{% endfor %}

</table>


</body>
{% endblock %}
